:root {
  --strong-cyan: hsl(172, 67%, 45%);
  // Neutral
  --very-dark-cyan: hsl(183, 100%, 15%);
  --very-dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  // Other Vars
  --primary-radius: 1.5rem;
  --secondary-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Space Mono", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  background-color: rgb(199, 227, 230);
}

input,
button {
  border: none;
  outline: none;
}

.app {
  @media screen and (min-width: 850px) and (min-height: 800px) {
    margin-top: 11rem;

    .logo {
      margin-bottom: 8rem;
    }
  }
}

.logo {
  color: var(--very-dark-grayish-cyan);
  font-size: 2.25rem;
  letter-spacing: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: var(--primary-radius);
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  color: var(--very-dark-cyan);
  font-weight: 700;

  @media screen and (min-width: 800px) {
    max-width: 750px;
    flex-direction: row;
    & > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.inp-section {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.inp-label {
  font-size: 0.85em;
  color: var(--very-dark-grayish-cyan);
}

.input-container {
  position: relative;
  font-size: 1.25em;
  width: 100%;
  border-radius: var(--secondary-radius);
  background-color: hsl(202, 50%, 97%);
  padding: 1.05rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid transparent;
  transition: border 0.3s;
  input {
    cursor: pointer;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    direction: rtl;
    font-weight: 700;
    color: var(--very-dark-cyan);
    &::placeholder {
      color: var(--dark-grayish-cyan);
    }
  }
  svg {
    min-width: 11px;
  }
  &:focus-within {
    border: 2px solid var(--strong-cyan);
  }
}

.select-container {
  position: relative;
  border: 2px solid transparent;
  border-radius: calc(var(--secondary-radius) + 2px);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.select-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--secondary-radius);
  font-weight: 700;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.1em;
  padding: 0.65rem 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  &:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
  }
  &:active {
    transform: translateY(2px) scale(0.99);
  }
}

.select__custom-tip {
  cursor: pointer;
  overflow: hidden;
  background-color: hsl(202, 50%, 97%);
  direction: rtl;
  font-weight: 700;
  color: var(--very-dark-cyan);
  border-radius: var(--secondary-radius);
  text-align: center;
  border: 2px solid transparent;
  transition: border 0.3s;
  &::placeholder {
    color: var(--dark-grayish-cyan);
  }
  &:focus-within {
    border: 2px solid var(--strong-cyan);
  }

  /* Firefox */
  -moz-appearance: textfield;
}
.select__custom-tip::-webkit-outer-spin-button,
.select__custom-tip::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.outputs-container {
  position: relative;
  background-color: var(--very-dark-cyan);
  padding: 3rem 2rem 2.2rem;
  border-radius: var(--primary-radius);
  color: var(--white);
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.output__sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .sec__lt {
    display: flex;
    flex-direction: column;

    .lt__sub {
      font-size: 0.88em;
      color: var(--dark-grayish-cyan);
    }
  }
  .sec__rt {
    font-size: 2.25em;
    color: var(--strong-cyan);
  }
}

.btns-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.6rem;
  @media screen and (max-width: 800px) {
    flex-direction: row;
    .reset-btn {
      width: 27.5%;
      order: 9;
    }
    .calc-btn {
      flex-grow: 1;
    }
  }
  @media screen and (min-width: 800px) {
    position: absolute;
    bottom: 2.2rem;
    width: calc(100% - 4rem);
  }
}
.output__btn {
  color: var(--very-dark-cyan);
  font-weight: 700;
  background-color: var(--strong-cyan);
  border-radius: var(--secondary-radius);
  font-size: 1.3em;
  padding: 1rem 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  &:hover {
    background-color: var(--light-grayish-cyan);
  }
  &:active {
    transform: translateY(2px) scale(0.99);
  }
}

// Validation ----------
.invalid-input {
  border: 2px solid rgb(195, 100, 85);
  &::after {
    content: "Can't be empty";
    position: absolute;
    right: 0;
    top: -2.7rem;
    font-size: 1.36rem;
    color: rgb(195, 100, 85);
  }
}
.valid-input {
  border: 2px solid var(--strong-cyan);
}

.selected-item {
  background-color: var(--strong-cyan);
}

.invalid-select {
  border: 2px solid rgb(195, 100, 85);
  &::after {
    content: "Select one item";
    position: absolute;
    right: 0;
    top: -2.7rem;
    font-size: 1.36rem;
    color: rgb(195, 100, 85);
  }
}
